@charset "UTF-8";
/* CSS Document */

body { color: #2f3036;
	}
.pagewrap {
	position:relative;
	width:980px;
	clear:both;
	float:none;
	margin:auto;
}
header img {
	clear:both;
	margin:none;
	border:0%;
	width:100%;
	max-height:300px;
	padding:0;
}
nav {
	left:0;
	right:0;
	width:100%;
	background: #2f3036;
	height:100%;
	border:0;
	clear:both;
	padding:0%;
	}
nav a {
	color:#ffffff;
	text-decoration:none;
	}
nav	li:hover > a {color:#7EC0FF;}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
	border: 0;
		}
nav li {
	display: inline-block;
	float: left;
	width:20%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
	border:0;
		}
nav li:hover {
	background: #f3f3f3;
	color: #2f3036;
	height: 50px;
	line-height: 50px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
			}

.music {
	text-align:center;
	clear:both;
	float:left;
}
.music audio {
	padding:10%;
	float:left;
	clear:none;
	margin-left:10%;
	margin-top::5%;
}
.slideshow {
	background:#fff;
	float:right;
	position:relative;
	margin-top:5%;
	width:60%;
	height:60%;
	overflow:visible;
		}
#mask {
	overflow:hidden;
	height:inherit;
}
.slideshow ul {
	margin:0;
	padding:0;
	position:relative;
}
<<<<<<< HEAD
.slideshow li {
	width:60%;
	height:60%;
	position:absolute;
	list-style: none;
}
=======
@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}

<<<<<<< HEAD





h2 {
    color: black;
    text-align: center;
	padding-top: 5% 
}
P {
	text-align: center;
}
#form-div {
  background-color:#808080;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  margin-bottom:50px 
}
.feedback-input {
  
  font-size: 18px;
  padding: 13px;
  width:100%;
  box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
 }

#button{
  width: 100%;
  border: #FFFFFF solid 6px;
  background-color: #00CCCC;
  color:#FFFFFF;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
}

#button:hover{
  background-color: gray;
  color: #00CCCC;
}
 
  #form{
    margin-right: 20%;
    padding-left: 20%;
}
=======
p.title {
	font-size: 75px;
	text-align:center;
}

p.link {
	font-size: 50px;
	text-align: center;
	border-style: solid;
	border-color: #2f3036;
}

a: link { color: #2f3036; }
	a: visited {color: #a1a1a1; }
	a: hover { color: #00a99a; }
	a: active { color: #ffffff; }
	
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-left: auto;
	margin-right: auto;
	border-top: 20px solid #2f3036;
}

.eventslist {
	clear: both;
	position: relative;
	width: 100%;
}
.listwrap {
	position: absolute;
	left: 25%;
	right: 25%;
	width: 40%;
}

.listwrap li {
	list-style-type: none;
}
	
.border {
	border-style: solid;
	border-width: 5px;
	border-color: #00a99a;
	text-align: center;
	width: 100%;
	margin: 5%;
}
.border li {
	list-style-type: none;
	text-decoration: none;
}
h1 {
	text-align:center;
}
>>>>>>> eb320ed9bcae9af6eb4a65307c5d92afa0ae6880
>>>>>>> 236320e478ef8e8227c29748e2233e19dc328c23
