@charset "UTF-8";
/* CSS Document */

body {
	}
header img {
	clear:both;
	margin:none;
	border:0%;
	width:100%;
	max-height:300px;
	padding:0;
}
nav {
	left:0;
	right:0;
	width:100%;
	background: #2f3036;
	height:100%;
	border:0;
	clear:both;
	padding:0%;
	}
nav a {
	color:#ffffff;
	text-decoration:none;
	}
nav	li:hover > a {color:#7EC0FF;}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
	border: 0;
		}
nav li {
	display: inline-block;
	float: left;
	width:20%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
	border:0;
		}
nav li:hover {
	background: #f3f3f3;
	color: #2f3036;
	height: 50px;
	line-height: 50px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
			}

.music {
	text-align:center;
	clear:both;
	float:left;
}
.music audio {
	padding:10%;
	float:left;
	clear:none;
	margin-left:10%;
	margin-top::5%;
}
.slideshow {
	float:right;
	position:relative;
	margin-top:5%;
	width:60%;
	height:60%;
		}
.slideshow figure {
	margin:0;
	position:absolute;
}

.slideshow img:nth-child(1) {
-webkit-animation: xfade 48s 42s  infinite;
-moz-animation: xfade 48s 42s  infinite;
-ms-animation: xfade 48s 42s infinite;
-o-animation: xfade 48s 42s infinite;
animation: xfade 48s 42s infinite;
}
.slideshow img:nth-child(2) {
-webkit-animation: xfade 48s 36s infinite;
-moz-animation: xfade 48s 36s infinite;
-ms-animation: xfade 48s 36s infinite;
-o-animation: xfade 48s 36s infinite;
animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
   animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
   animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
   animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
   animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
   animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}
@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}